.AnnouncementDetail {
}
.AnnouncementDetail h2 {
  text-align: center;
}
.AnnouncementDetail .box {
  display: flex;
  min-width: 1200px;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}
.AnnouncementDetail .fix {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.AnnouncementDetail .views {
  margin: 10px 20px;
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.AnnouncementDetail table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  border: 1px solid #ddd;

  overflow-x: auto;
  table-layout: fixed; /* 테이블 너비를 고정 */
}
.AnnouncementDetail td {
  padding: 10px 20px;
  text-align: start;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 100px;
}
.AnnouncementDetail th {
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 100px;
}
.AnnouncementDetail .content {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.AnnouncementDetail .btn {
  min-width: 1100px;
  padding: 20px;
  text-align: center;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AnnouncementDetail .btn > div {
  margin: 20px;
}

.AnnouncementDetail .edit_con {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.AnnouncementDetail .edit_con > div {
  margin-right: 40px;
}
.AnnouncementDetail .edit_con .btn {
  min-width: 0;
  padding: 0;
  justify-content: flex-start;
}
.AnnouncementDetail .edit_con .btn > div {
  margin: 0;
  margin-right: 30px;
}
.AnnouncementDetail input {
  width: 230px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
