/* @import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
.App {
  /* font-family: "Gowun Dodum", sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
input {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
select {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
div {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
textarea {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
h2 {
  font-size: 24px;
}
span {
  font-size: 15px;
}
label {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
